<html>
    <head>
        <title>Django girl's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>Published: Today lol</p>
            <h2><a href="">My first post</a></h2>
            <p>Message to y'all niggas</p>
        </div>
        <div>
            <p>Published: Yesterday lol</p>
            <h2><a href="">My first post in the past</a></h2>
            <p> China number 1</p>
        </div>
    </body>
</html>